.html-chart div {
  background-color: steelblue;
  color: white;
  font: 10px sans-serif;
  margin: 1px;
  padding: 3px;
  text-align: right;
}

.svg-chart rect {
  fill: steelblue;
}
.svg-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.tsv-chart rect {
  fill: steelblue;
}
.tsv_chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.horiz-chart rect {
  fill: steelblue;
}
.horiz-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
