button {
  background: #222 url(button-overlay.png) repeat-x;
  font: 12px Helvetica Neue;
  color: #fff;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-bottom: 1px solid #222;
  min-width: 80px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #999;
}

button:hover {
  background-color: #555;
}

.chart {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  font: 10px sans-serif;
  height: 180px;
  position: relative;
  width: 720px;
}

.chart svg {
  border-left: solid 2px #ddd;
  left: 360px;
  position: absolute;
  top: 0;
}

.chart pre {
  font: 12px monospace;
  height: 60px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 340px;
}

.chart circle.little {
  fill: #aaa;
  stroke: #666;
  stroke-width: 1.5px;
}

.chart button {
  left: 275px;
  position: absolute;
  top: 145px;
  width: 80px;
}

.chart .data rect {
  fill: #eee;
  stroke: #ccc;
}
